.leaderboard-task {
    font-size: 20px;
    padding-bottom: 20px;
}

.divider-line-less {
    margin-top: 50px;
    margin-bottom: 20px;
}

.divider-line {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    font-size: 1.8rem;
    padding-top: 30px;
}