#hear-toc li {
    margin-bottom: 5px;
}

article ul li {
    margin-bottom: 4px;
    margin-top: 4px;
}

.team-affiliation p {
    font-size: medium;
    margin-bottom: -6px;
}

.team-members sup {
    font-size: x-small;
}

.bibliography p {
    font-size: medium;
}

#banner-image {
    padding: 50px;
}

#banner-image img {
    width: 70%;
    display: block;
    margin: auto
}

#button-group a {
    color: #fff;
    text-decoration: none;
}

/* For Dataset Page */
.accordion h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.accordion {
    padding-bottom: 25px;
}
