#hear-toc li {
    margin-bottom: 5px;
}

article ul li {
    margin-bottom: 4px;
    margin-top: 4px;
}

.team-affiliation p {
    font-size: medium;
    margin-bottom: -6px;
}

.team-members sup {
    font-size: x-small;
}

.bibliography p {
    font-size: medium;
}